body {
  background-color: #2f3136;
  color: #ddd;
  font-family: Verdana, sans-serif;
  font-size: 14px;
}
a {
  color: gold;
}

.filter-table {
  border-spacing: 0;
}

.filter-table>thead>tr,
.filter-table>tbody>tr {
  text-align:center;
  height: 32px;
}
.filter-table>tbody>tr>td {
  width: 32px;
}

.food-table {
  border-spacing: 0;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.food-table>tbody>tr {
  padding: 0;
  margin: 0;
}

.food-table>thead>tr>th {
  background-color: rgba(0, 0, 0, .3);
  height:32px;
}

.food-table>thead>tr>th {
  background-color: rgba(0, 0, 0, .3);
}

.food-table>thead>tr>th.sortable:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.food-table>thead>tr>th {
  box-sizing:border-box;
}

.food-table>thead>tr>th.name {
  width:300px;
}

.food-table>thead>tr>th.info {
  width:72px;
}

.food-table>thead>tr>th.gfx {
  width:72px;
}

.food-table>tbody>tr>td {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  text-align: center;
}

.food-table>tbody>tr:hover {
  background-color: rgba(0, 0, 0, .1);
}

.food-table>tbody>tr>td.stat,
.food-table>thead>tr>th.stat,
.food-table>tbody>tr>td.stall-id,
.food-table>thead>tr>th.stall-id {
  padding: 0 0.2em;
  width: 4.2em;
  font-weight: bold;
}
.food-table>tbody>tr>td.stall-id {
  font-size: xx-small;
}

.food-table>tbody>tr>td.statw,
.food-table>thead>tr>th.statw {
  padding: 0 0.2em;
  width: 5.2em;
  font-weight: bold;
}

.food-table>tbody>tr>td>img {
  vertical-align: middle;
}

.food-table>tbody>tr>td.img {
  text-align: right;
  width: 72px;
}

.str {
  color: #dfa8a4;
}

.agi {
  color: #a69fe4;
}

.int {
  color: #8ab7b9;
}

.con {
  color: #c485ae;
}

.per {
  color: #e7b37c;
}

.cha {
  color: #a9e4b8;
}

.dex {
  color: #faf9b6;
}

.wil {
  color: #dbf091;
}

.psy {
  color: #c092f1;
}

.str>.db {
  color: #ee8078;
}

.agi>.db {
  color: #808fff;
}

.int>.db {
  color: #33afb6;
}

.con>.db {
  color: #f86cc7;
}

.per>.db {
  color: #e98b26;
}

.cha>.db {
  color: #27eb5b;
}

.dex>.db {
  color: #f8f52d;
}

.wil>.db {
  color: #beeb1e;
}

.psy>.db {
  color: #ce6eff;
}

.positive {
  color: #27eb5b;
}

.negative {
  color: #ee8078;
}

.marker {
  fill: #fff;
  stroke: #000;
  stroke-width: 3;
  opacity: 1;
  z-index: 10000;
}

.stall-rect {
  fill: #fff;
  stroke: #000;
  stroke-width: 2;
  opacity: 1;
  z-index: 1000;
}

.stall-rect:hover, .marker:hover, .marker.selected, .stall-rect.selected {
  fill: #52e1e9;
}
.marker.selected:hover, .stall-rect.selected:hover {
  fill: #098f8f;
}
img.img-left {
  float: left;
}
#map {
  right: 12px;
  bottom: 12px;
  position: fixed;
  border: 1px solid rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, .3);
}
#map-title {
  font-weight:bold;
  font-size:large;
  text-align: center;
  padding:4px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#item-filter {
  text-align: center;
  right: 12px;
  top: 12px;
  width:300px;
  height:340px;
  position: fixed;
  border: 1px solid rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, .3);
}
#item-filter > .checkbox {
  float: left;
  text-align: left;
  padding: 2px 6px;
  width:40%;
}
#market-filters > .checkbox {
  float: left;
  text-align: left;
  padding: 2px 6px;
  width:80%;
}
#market-filters {
  float: left;
}
#item-filter > input[type="text"] {
  border: none;
  padding: 3px;
  font-size: larger;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(195, 195, 195, 0.6);
  outline: none;
  background: rgba(0, 0, 0, 0);
  color: #ddd;
  width: 280px;
  margin:0;
  text-align: center;
}
#item-filter > input[type="text"].half {
  width: 138px;
}
#item-filter > input[type="text"]::placeholder {
  color: #bbb;
}
#details-container {
  right: 12px;
  top: 366px;
  position: fixed;
  width:300px;
  opacity: 1;
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .6);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#details-title {
  background-color: rgba(255,155,0,0.2);
  font-weight:bold;
}
#path-container {
  float: right;
  width: 300px;
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .6);
}
.path-node:hover {
  background-color: rgba(255, 255, 255, .2);
}